<!--Navbar-->
<nav
  class="navbar navbar-expand-lg navbar-dark elegant-color-dark"
  style="height:80px;"
>
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand display-1" href="/">OHO LEARNING LIBRARY</a>

    <!-- Collapse button -->
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#basicExampleNav"
      aria-controls="basicExampleNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="basicExampleNav">
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#"
            >Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Gallery</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Teachers</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#">Notices</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            >Dropdown</a
          >
          <div
            class="dropdown-menu dropdown-primary"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      <!-- Links -->

    </div>
    <!-- Collapsible content -->
  </div>
</nav>

<!--Projects section v.4-->
<section>
  <!--Grid row-->
  <div class="row">
  
    <!--Grid column-->
    <div class="col-md-12 mb-4">
      <div class="card card-image" style="background: #2e2e2e">

          
        
        <div
          class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4"
        >
          <div>



              <div class="text-center">
                  <form class="form-group w-responsive text-center mx-auto p-2 m-2">
                      <input  style="height:45px;" class="form-control" type="search" name="search" placeholder="Search Oho Library..." /> 
                      <input type="submit" value="Search" class="btn btn-success" />
                  </form>
              </div>


              
              
     
    
            
            <h4 class="white-text">
              <i class="fas fa-school"></i><strong></strong>
            </h4>
            <h3 class="card-title py-3 font-weight-bold">
              <strong>Janata Higher Secondary School</strong>
            </h3>
            <p class="pb-3">
              Janata Model Higher secondary School (JVT), Tansen Palpa is
              regarded as one of the finest public school that imparts quality
              education to achieve academic excellence. It has been able to
              produce ideal man powers required for our nation and its overall
              development. This school is still known by its original name JVT
              even though its looks have changed in the course of time. This
              school was established with the view of imparting the education of
              national standard on 21th Bhadra 2008 as the result of that
              initiation undertaken by Late founder Principal Jagat Bahadur
              Joshi, Chairman Kebal Prasad Simangaida and their co-workers; It
              was not an easy task to start a school in such period when the
              literacy rate in Nepal was under 2 percentage.
            </p>

          


            <div class="row">

              
              <div class="col-md-4">
                  <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <div class="mt-5"><i class="fas fa-book-open btn-success fa-5x"></i></div>
      <a href="#!">
        <div class="mask rgba-white-slight">
          
        </div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title text-dark">Library</h4>
      <!-- Text -->
      <p class="card-text">OER based Contents</p>
      <!-- Button -->
      <a href="#" class="btn btn-success">Browse</a>
  
    </div>
  
  </div>

              </div>
              <div class="col-md-4">
                 
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <div class="mt-5"><i class="fas fa-university btn-success fa-5x"></i></div>
      
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title text-dark">Course</h4>
      <!-- Text -->
      <p class="card-text">Browse OER based courses</p>
      <!-- Button -->
      <a href="#" class="btn btn-success">Browse</a>
  
    </div>
  
  </div>
  <!-- Card -->
              </div>
              <div class="col-md-4">
                  <!-- Card -->
<div class="card">

    <!-- Card image -->
    <div class="view overlay">
        <div class="mt-5"><i class="fas fa-file-alt btn-success fa-5x"></i></div>
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>
  
    <!-- Card content -->
    <div class="card-body">
  
      <!-- Title -->
      <h4 class="card-title text-dark">Documents</h4>
      <!-- Text -->
      <p class="card-text">Browse free documents</p>
      <!-- Button -->
      <a href="#" class="btn btn-success">Browse</a>
  
    </div>
  
  </div>
  <!-- Card -->
              </div>
            </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  

  <!--Grid row-->
</section>
<!--Projects section v.4-->

<!-- Course, Library Section-->
