
#navbar nav ul li {
    margin-right: 20px;
}

#navbar nav ul  {
    margin-right: 0px;
}

#navbar nav a {
    font-size: 1rem;
    font-family: sans-serif;
    text-transform: uppercase;
    
   
}


.navli {
    max-width: 300px;
    min-width: 180px;
    min-height: 40px;
    text-align: center;
    line-height: 1rem;
}

.menu-box {
 
    padding: 20px;
    max-width: 90%;
    background:rgba(255,0,0,0.8);
    color: #FFF;
    margin-bottom: 30px;
    border-radius: 5px;
    margin-top:-30px;
    transform: scale(1.2);

}

.menu-box:hover{
    transform: scale(1.25);
  
}


.menu-box h4 {
    text-transform: uppercase;
    font-size: 1.2rem;
    line-height: 34px;
    font-weight: 400;
    text-align: center;
}

.menu-box h4 a {
    color: #FFF;
    text-decoration: none;
}


/* Jumbotron styling */
.jumbotron {
    background-color: #feffee;
    font-weight: 300;
    padding:0px;
    margin-bottom:0px;

}

.jumbotron-first {
  background:linear-gradient(0deg,rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/static/images/bg.jpg);
  background-size:cover;
  height: 400px;
  max-height: 500px;
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  margin-bottom: 120px;
}

.jumbotron h3 {
    font-size: .9rem;
    text-align: left;
    text-transform: capitalize;
    font-family: sans-serif

}

.thumbnail-container {
    margin: 10px !important;

}

.thumbnail-container img {
    max-width: 160px; 
    height: auto;
}

.thumbnail-container h4 {
    font-size: .9rem;
    padding-bottom: 5px;
    color: #444444;
    margin-top:10px;
    padding-bottom:3px;
    border-bottom: 1px solid #dedede;
    font-weight: 400 !important;
}

.thumbnail-container div.author span {
    color: #444444;
    font-weight: 400;
    font-size: .9rem;
}

.thumbnail-container div.publisher span  {
    color: #444444;
    font-weight: 400;
    font-size: .9rem;
}

.thumbnail-container div.browse {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
}

#searchbox {
    height:65px;
    margin-top: 70px;
    border:none;
    width: 100%;
    border-radius: 3px;
    padding-left:10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    text-align: center;
    text-transform: uppercase;
    background:#FAFAFA;
    margin-bottom: 50px;

}

.heading {
    text-transform: capitalize;
    margin-top:20px;
    font-size: 1.8rem;
    font-weight: 300;
    color: black !important;
    font-weight: 400; 
}

.heading::after{
   display: block;
   width: 180px;
   height: 5px;
   background: orange;
   content: "";
   margin-top:5px;
}


.notice-board {
    background: #feffee;
    border:  1px dotted rgba(255,0,0,0.8);
    border-radius: 5px;
    color: teal;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: -32px;
    margin-left: 40px;
}



.notice-board h4:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.school-information {
    min-height: 60px;
    padding: 20px;
    background: rgba(255,0,0,0.8);
    margin-bottom: 40px;
    transform: scale(1.04);
    margin-top:20px;
    border-radius: 5px;
    text-transform: uppercase;
    text-align: left;
    color: #FAFAFA;
    
}