{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Most Popular -->
<div class="jumbotron overlay jumbotron-first">
        <div class="container">
             <!-- Search Box -->
             <div class="row">
                 <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                                <input type="search" class="form-control" id="searchbox" placeholder="Search Resources..." name="search">
                        </div>
                        <h1 class="text-white heading" style="color:wheat !important;">Popular Resources </h1>
                        <div>
                                <div class="row">
                                        <div class="col-md-2 col-sm-12">
                                            <div class="thumbnail-container">
                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                    <h4>The Personal MBA</h4>
                                            </div>
                                        </div>
                    
                                        <div class="col-md-2 col-sm-12">
                                                <div class="thumbnail-container">
                                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                        <h4>The Personal MBA</h4>
                                                       
                                                </div>
                                            </div>
                    
                                            <div class="col-md-2 col-sm-12">
                                                    <div class="thumbnail-container">
                                                            <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                            <h4>The Personal MBA</h4>
                                                    </div>
                                                </div>
                    
                                                <div class="col-md-2 col-sm-12">
                                                        <div class="thumbnail-container">
                                                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                                <h4>The Personal MBA</h4>
                                                        </div>
                                                    </div>
                    
                                                    <div class="col-md-2 col-sm-12">
                                                            <div class="thumbnail-container">
                                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                                    <h4>The Personal MBA</h4>
                                                                   
                                                            </div>
                                                        </div>
                    
                                                        <div class="col-md-2 col-sm-12">
                                                                <div class="thumbnail-container">
                                                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                                        <h4>The Personal MBA</h4>
                                                                </div>
                                                            </div>
                                      
                                       
                                    </div>
                        </div>

                 </div>
        </div>
    </div>
</div>

<!-- Newly Added -->
<div class="jumbotron">
        <div class="container">
                <h1 class="text-white heading" style="color:black;">Newly Added</h1>
                <!-- Show thumbnails -->
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="thumbnail-container">
                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                <h4>The Personal MBA</h4>
                                <div class="author">By: <span>David Furner</span></div>
                                <div class="type"><i class="fas fa-book-open"></i></div>
                                <div class="publisher">Publisher: <span>Khan Academy</span></div>
                                <div class="browse"><a href="#">Browse</a></div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                            <div class="thumbnail-container">
                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                    <h4>The Personal MBA</h4>
                                    <span class="author">by</span>
                                    <span class="publisher">Khan Academy</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                                <div class="thumbnail-container">
                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                        <h4>The Personal MBA</h4>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                    <div class="thumbnail-container">
                                            <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                            <h4>The Personal MBA</h4>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                        <div class="thumbnail-container">
                                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                <h4>The Personal MBA</h4>
                                                <span>by</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-12">
                                            <div class="thumbnail-container">
                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                    <h4>The Personal MBA</h4>
                                            </div>
                                        </div>
                  
                   
                </div>
        </div>
</div>


<!-- Level Wise-->
<div class="jumbotron">
        <div class="container">
                <h1 class="text-white heading" style="color:black;">Level Content</h1>
                <!-- Show thumbnails -->
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="thumbnail-container">
                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                <h4>The Personal MBA</h4>
                                <div class="author">By: <span>David Furner</span></div>
                                <div class="type"><i class="fas fa-book-open"></i></div>
                                <div class="publisher">Publisher: <span>Khan Academy</span></div>
                                <div class="browse"><a href="#">Browse</a></div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                            <div class="thumbnail-container">
                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                    <h4>The Personal MBA</h4>
                                    <span class="author">by</span>
                                    <span class="publisher">Khan Academy</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                                <div class="thumbnail-container">
                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                        <h4>The Personal MBA</h4>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                    <div class="thumbnail-container">
                                            <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                            <h4>The Personal MBA</h4>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                        <div class="thumbnail-container">
                                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                <h4>The Personal MBA</h4>
                                                <span>by</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-12">
                                            <div class="thumbnail-container">
                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                    <h4>The Personal MBA</h4>
                                            </div>
                                        </div>
                  
                   
                </div>
        </div>
</div>
<!-- Educational Subject Wise -->
<div class="jumbotron">
        <div class="container">
                <h1 class="text-white heading" style="color:black;">Educational Books</h1>
                <!-- Show thumbnails -->
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="thumbnail-container">
                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                <h4>The Personal MBA</h4>
                                <div class="browse"><a href="#">Browse</a></div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                            <div class="thumbnail-container">
                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                    <h4>The Personal MBA</h4>
                                    <span class="author">by</span>
                                    <span class="publisher">Khan Academy</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                                <div class="thumbnail-container">
                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                        <h4>The Personal MBA</h4>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                    <div class="thumbnail-container">
                                            <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                            <h4>The Personal MBA</h4>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                        <div class="thumbnail-container">
                                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                <h4>The Personal MBA</h4>
                                                <span>by</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-12">
                                            <div class="thumbnail-container">
                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                    <h4>The Personal MBA</h4>
                                            </div>
                                        </div>
                  
                   
                </div>
        </div>
</div>


<!-- Biographies -->
<div class="jumbotron">
        <div class="container">
                <h1 class="text-white heading" style="color:black;">Biographies</h1>
                <!-- Show thumbnails -->
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="thumbnail-container">
                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                <h4>The Personal MBA</h4>
                                <div class="author">By: <span>David Furner</span></div>
                                <div class="type"><i class="fas fa-book-open"></i></div>
                                <div class="publisher">Publisher: <span>Khan Academy</span></div>
                                <div class="browse"><a href="#">Browse</a></div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                            <div class="thumbnail-container">
                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                    <h4>The Personal MBA</h4>
                                    <span class="author">by</span>
                                    <span class="publisher">Khan Academy</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                                <div class="thumbnail-container">
                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                        <h4>The Personal MBA</h4>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                    <div class="thumbnail-container">
                                            <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                            <h4>The Personal MBA</h4>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                        <div class="thumbnail-container">
                                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                <h4>The Personal MBA</h4>
                                                <span>by</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-12">
                                            <div class="thumbnail-container">
                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                    <h4>The Personal MBA</h4>
                                            </div>
                                        </div>
                  
                   
                </div>
        </div>
</div>


<!-- Philoshopies -->
<div class="jumbotron">
        <div class="container">
                <h1 class="text-white heading" style="color:black;">Philoshopies</h1>
                <!-- Show thumbnails -->
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="thumbnail-container">
                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                <h4>The Personal MBA</h4>
                                <div class="author">By: <span>David Furner</span></div>
                                <div class="type"><i class="fas fa-book-open"></i></div>
                                <div class="publisher">Publisher: <span>Khan Academy</span></div>
                                <div class="browse"><a href="#">Browse</a></div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                            <div class="thumbnail-container">
                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                    <h4>The Personal MBA</h4>
                                    <span class="author">by</span>
                                    <span class="publisher">Khan Academy</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                                <div class="thumbnail-container">
                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                        <h4>The Personal MBA</h4>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                    <div class="thumbnail-container">
                                            <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                            <h4>The Personal MBA</h4>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                        <div class="thumbnail-container">
                                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                <h4>The Personal MBA</h4>
                                                <span>by</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-12">
                                            <div class="thumbnail-container">
                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                    <h4>The Personal MBA</h4>
                                            </div>
                                        </div>
                  
                   
                </div>
        </div>
</div>


<!-- LeaderShip and Management -->
<div class="jumbotron">
        <div class="container">
                <h1 class="text-white heading" style="color:black;">Leadership and Management</h1>
                <!-- Show thumbnails -->
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="thumbnail-container">
                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                <h4>The Personal MBA</h4>
                                <div class="author">By: <span>David Furner</span></div>
                                <div class="type"><i class="fas fa-book-open"></i></div>
                                <div class="publisher">Publisher: <span>Khan Academy</span></div>
                                <div class="browse"><a href="#">Browse</a></div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                            <div class="thumbnail-container">
                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                    <h4>The Personal MBA</h4>
                                    <span class="author">by</span>
                                    <span class="publisher">Khan Academy</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                                <div class="thumbnail-container">
                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                        <h4>The Personal MBA</h4>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                    <div class="thumbnail-container">
                                            <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                            <h4>The Personal MBA</h4>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                        <div class="thumbnail-container">
                                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                <h4>The Personal MBA</h4>
                                                <span>by</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-12">
                                            <div class="thumbnail-container">
                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                    <h4>The Personal MBA</h4>
                                            </div>
                                        </div>
                  
                   
                </div>
        </div>
</div>


<!-- Historical Books-->
<div class="jumbotron">
        <div class="container">
                <h1 class="text-white heading" style="color:black;">Leadership and Management</h1>
                <!-- Show thumbnails -->
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="thumbnail-container">
                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                <h4>The Personal MBA</h4>
                                <div class="author">By: <span>David Furner</span></div>
                                <div class="type"><i class="fas fa-book-open"></i></div>
                                <div class="publisher">Publisher: <span>Khan Academy</span></div>
                                <div class="browse"><a href="#">Browse</a></div>
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-12">
                            <div class="thumbnail-container">
                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                    <h4>The Personal MBA</h4>
                                    <span class="author">by</span>
                                    <span class="publisher">Khan Academy</span>
                            </div>
                        </div>

                        <div class="col-md-2 col-sm-12">
                                <div class="thumbnail-container">
                                        <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                        <h4>The Personal MBA</h4>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-12">
                                    <div class="thumbnail-container">
                                            <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                            <h4>The Personal MBA</h4>
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-12">
                                        <div class="thumbnail-container">
                                                <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                <h4>The Personal MBA</h4>
                                                <span>by</span>
                                        </div>
                                    </div>

                                    <div class="col-md-2 col-sm-12">
                                            <div class="thumbnail-container">
                                                    <img src="https://ic.od-cdn.com/ImageType-100/1873-1/%7BC3465A52-10B9-436E-AB49-82F21C3B3A11%7DImg100.jpg?quality=80&w=190&dpr=1.5" alt="">
                                                    <h4>The Personal MBA</h4>
                                            </div>
                                        </div>
                  
                   
                </div>
        </div>
</div>



<hr style="width:2px background:#AFAFAF;">





{% endblock content %}